
@media (max-width: 920px) {
    .home-serviceName-btn{
        width: 80%;
    }
  }
@media (max-width: 750px) {
    .home-serviceName-btn{
        margin: auto;
    }
  }
@media (max-width: 750px) {
    .home-service-container{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
  }
@media (max-width: 750px) {
    .home-service-btn-container{
        flex-direction: row;
        width: 90%;
        margin: auto;
        

    }
  }
  @media (max-width: 750px) {
    .home-serviceName-btn{
        width: 20%;
    }
  }
